<footer>
	<div class="container">
		<div class="grid">
			<div class="column">
				<p class="footer-title">Francesco Gargano</p>
				<ul class="footer-links">
					<li><a href="#about">About</a></li>
					<li><a href="#appointment">Contact</a></li>
				</ul>
				<p><a href="mailto:francesco@garganoreconstructive.com">francesco@garganoreconstructive.com</a></p>
				<p>
				<p><a href="tel:212-448-2941">212-448-2941</a></p>
				<p class="attribution">
					{{ with .Site.Copyright }}
						{{ . | markdownify}}
					{{ end }}
				</p>
			</div>
		</div>
	</div>
</footer>

<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="{{ "/js/nav.js" | relURL }}"></script>
<script async src="//cdn.rawgit.com/noelboss/featherlight/1.7.13/release/featherlight.min.js" type="text/javascript" charset="utf-8"></script>
<script async src="//cdn.rawgit.com/noelboss/featherlight/1.7.13/release/featherlight.gallery.min.js" type="text/javascript" charset="utf-8"></script>
<script async src="//cdn.callrail.com/companies/170153633/70cc832f4a47e133ef3d/12/swap.js" type="text/javascript"></script>
<script type="text/javascript">
	$(document).ready(function() {
		$('#nav').onePageNav({
			currentClass: 'current',
			changeHash: false,
			scrollSpeed: 1200
		});
	});
	$('.menu-toggle').click(function() {
	$('ul').toggleClass('opening');
	$(this).toggleClass('open');
	});
</script>
<script type="text/javascript">
	$(".accordion").on("click", ".accordion-header", function() {
		$(this).toggleClass("active").next().slideToggle();
	});
</script>
</body>
</html>
