<section id="image-gallery" class="anchor">
	<div class="image-gallery">
		<div class="container">
			<div class="grid">
				<div class="column">
					{{- with .Params.a_title -}}<h3>{{ markdownify . }}</h3>{{- end -}}
				</div>
			</div>
			<div class="grid">
				<div class="column empty"></div>
				<div class="column">
					{{- with .Params.a_1 -}}<p>{{ markdownify . }}</p>{{- end -}}
					<div class="gallery-examples"data-featherlight-gallery data-featherlight-filter="a">
						<a class="button" href="{{ $.Site.BaseURL }}/img/content/gallery-1.png">View Examples</a>
						<a style="display:none;" href="{{ $.Site.BaseURL }}/img/content/gallery-2.png"></a>
						<a style="display:none;" href="{{ $.Site.BaseURL }}/img/content/gallery-3.png"></a>
						<a style="display:none;" href="{{ $.Site.BaseURL }}/img/content/gallery-4.png"></a>
						<a style="display:none;" href="{{ $.Site.BaseURL }}/img/content/gallery-5.png"></a>
						<a style="display:none;" href="{{ $.Site.BaseURL }}/img/content/gallery-6.png"></a>
						<a style="display:none;" href="{{ $.Site.BaseURL }}/img/content/gallery-7.png"></a>
						<a style="display:none;" href="{{ $.Site.BaseURL }}/img/content/gallery-8.png"></a>
						<a style="display:none;" href="{{ $.Site.BaseURL }}/img/content/gallery-9.png"></a>
						<a style="display:none;" href="{{ $.Site.BaseURL }}/img/content/gallery-10.png"></a>
						<a style="display:none;" href="{{ $.Site.BaseURL }}/img/content/gallery-11.png"></a>
					</div>
				</div>
				<div class="column empty"></div>
			</div>
		</div>
	</div>
</section>