<section id="learn-more" class="anchor">
	<div class="learn-more">
		<div class="container">
			<div class="grid">
				<div class="column">
					{{- with .Params.a_title -}}<h3>{{ markdownify . }}</h3>{{- end -}}
				</div>
			</div>
			<div class="grid">
				<div class="column"></div>
				<div class="column">
					<div class="grid">
						<div class="column">
							<img src="{{ $.Site.BaseURL }}/img/content/notepad.png" />
						</div>
						<div class="column">
							{{- with .Params.a_1 -}}<p class="consultation">{{ markdownify . }}</p>{{- end -}}
							{{- with .Params.a_2 -}}<p>{{ markdownify . }}</p>{{- end -}}
							<a class="button button-primary" href="/#appointment">Book Appointment</a>
						</div>
					</div>
				</div>
				<div class="column"></div>
			</div>
		</div>
	</div>
</section>