<section id="meet-the-dr" class="anchor">
	<div class="meet">
		<div class="container-fluid">
			<div class="grid">
				<div class="column">
					<img src="{{ $.Site.BaseURL }}/img/content/francesco-gargano.png" />
				</div>
				<div class="column">
					{{- with .Params.a_title -}}<h3>{{ markdownify . }}</h3>{{- end -}}
					{{- with .Params.a_1 -}}<p class="meet-blue">{{ markdownify . }}</p>{{- end -}}
					{{- with .Params.a_2 -}}<p class="meet-blue">{{ markdownify . }}</p>{{- end -}}
					<div class="accordion">
						<div class="accordion-header button">{{- with .Params.a_button -}}{{ markdownify . }}{{- end -}}</div>
						<div class="accordion-content">
							{{- with .Params.b_1 -}}<p>{{ markdownify . }}</p>{{- end -}}
							{{- with .Params.b_2 -}}<p>{{ markdownify . }}</p>{{- end -}}
							{{- with .Params.b_3 -}}<p>{{ markdownify . }}</p>{{- end -}}
							{{- with .Params.b_4 -}}<p>{{ markdownify . }}</p>{{- end -}}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>